<% time = comment.date %>
<strong><%= comment.name %></strong> said at <%= time.strftime("on %B %e, %Y") %>

<% if can? :edit, comment %>
  <%= link_to "update", edit_post_comment_path(comment.post, comment), :class => "btn-xs btn-warning" %>
<% end %>

<% if can? :delete, comment %>
  <%= link_to "delete", post_comment_path(comment.post, comment), :class => "btn-xs btn-danger", method: :delete %>
<% end %>

<p><%= comment.body %></p>
