<h4><%= @post.title %></h4>
<% time = @post.date %>
<%= time.strftime("Published on %B,%e %Y at %l:%M%p") %>
<div><%= image_tag @post.image.url(:medium) %></div>
<p><%= @post.body %></p>
<% if can? :update, @post %>
  <%= link_to "edit", edit_post_path(@post), :class => "btn btn-primary" %>
<% end %>

<% if can? :destroy, @post %>
  <%= link_to "delete", post_path(@post), data: { confirm: 'Are you sure?'},
                                        method: 'delete',
                                        :class => "btn btn-danger" %>
<% end %>
<hr>

<% if current_user != nil %>
  <h4>Add a comment</h4>
  <%= render 'comments/form' %>
<% else %>
  <h5>Login to post a comment!</h5>
<% end %>


<% if @post.comments != nil %>
  <h5>Comments</h5>
  <div id="comments_list">
    <% @post.comments.each do |comment| %>
      <%= render comment %>
    <% end %>
  </div>
<% end %>


