- if @post != nil
  %h4= @post.title
  - time = @post.date
  = time.strftime("Published on %B, %e %Y")
  %div= image_tag @post.image.url(:large), id: "post_image"
  %p= simple_format (@post.body)
  - if can? :update, @post
    = link_to "edit", edit_post_path(@post), :class => "btn btn-primary"
  - if can? :destroy, @post
    = link_to "delete", post_path(@post), data: { confirm: 'Are you sure?'}, |
      method: 'delete',                                                      |
      :class => "btn btn-danger"                                             |
  %hr/
  - if current_user != nil
    %h4 Add a comment
    = render 'comments/form'
  - else
    %span#login-link= link_to "Login", new_user_session_path
    = "to post a comment"
  - if @post.comments.length > 0
    %h4 Comments
    #comments_list
      - @post.comments.each do |comment|
        = render comment


