<h4><%= @post.title %></h4>
<%= @post.date %>
<p><%= @post.body %></p>
<% if can? :update, @post %>
  <%= link_to "edit", edit_post_path(@post), :class => "btn btn-primary" %>
<% end %>

<% if can? :destroy, @post %>
  <%= link_to "delete", post_path(@post), data: { confirm: 'Are you sure?'},
                                        method: 'delete',
                                        :class => "btn btn-danger" %>
<% end %>

<h4>Add a comment</h4>

<%= render 'comments/form' %>

<% if @post.comments != nil %>
  <h5>Comments</h5>
  <div id="comments_list">
    <% @post.comments.each do |comment| %>
      <%= render comment %>
    <% end %>
  </div>
<% end %>


