<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
      <%= link_to image_tag("ruby3.png", :id => 'ruby', :height => '25px', :class => "navbar-text navbar-left"), root_url %>
      <%= link_to "Ruby Newbie", root_url, :class => "navbar-brand" %>
      <%= link_to "All Posts", posts_path, :class => "navbar-text navbar-left" %>
      <%= link_to "About", page_path('about'), :class => "navbar-text navbar-left" %>
      <% if can? :create, @post %>
        <%= link_to "New Post", new_post_path, :class => "navbar-text navbar-left" %>
      <% end %>
    </div>

    <div class="pull-right">
      <% if user_signed_in? %>
        <span id="login">Logged in as <strong><%= current_user.email %></strong><span>
        <%= link_to 'Edit profile', edit_user_registration_path, :class => "btn btn-default navbar-btn" %>
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => "btn btn-default navbar-btn" %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path, :class => "btn btn-default navbar-btn"%>
        <%= link_to "Login", new_user_session_path, :class => "btn btn-default navbar-btn" %>
      <% end %>
    </div>
  </div>

    <div class="container">
      <% if flash[:notice] %>
        <div class="alert alert-success">
          <%= flash[:notice] %>
        </div>
        <% elsif flash[:alert] %>
        <div class="alert alert-danger">
          <%= flash[:alert] %>
        </div>
        <% end %>

      <%= yield %>
    </div>
</body>
</html>
